/* ANIMATION FILTRE */

/* #filter .filtre-box:hover {
    transition: background-color 1s;
    background-color: var(--light-blue);
} */

/* ANIMATION CARD */

/* .hebergement-list a article:hover {
    box-shadow: 5px 5px 5px 0px #E2E2E2;
} */
